/* src/components/Navbar.css */

.custom-navbar-container {
  position: fixed;         /* Fix the navbar at the top */
  top: 0;                  /* Align it to the top of the viewport */
  width: 100%;             /* Full width of the viewport */
  display: flex;
  justify-content: center; /* Center the navbar container horizontally */
  background-color: white;
  z-index: 1000;           /* Ensure it stays above other elements */
  padding: 0;              /* Remove any padding */
  margin: 0;               /* Remove any margin */
  border: 1px solid black;
}

.custom-navbar {
  background-color: white;
  padding: 1rem 2rem;
  display: flex;            /* Flex container */
  align-items: center;      /* Center items vertically */
  width: 100%;
  max-width: 1200px;        /* Maximum width for the navbar */
}

.custom-navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.custom-navbar .logo {
  height: 18px; /* Adjust logo height to make it smaller */
  margin-right: 400px; /* Increase margin to add more space between logo and links */
}

.custom-navbar .nav-link {
  color: rgb(117, 112, 112);
  margin-right: 15px;
  font-weight: bold;
}

.custom-navbar .nav-link:hover {
  color: #007bff; /* Primary button color */
}

.custom-navbar .doc-button {
  background-color: #e2e2e2; /* Primary color */
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  width: 140px;
  border-radius: 6px;
  font-weight: normal;
  font-size: 14px;
  margin-right: 0; /* Optional: to remove extra margin on the right */
  display: flex;                /* Flex container */
  justify-content: center;      /* Center content horizontally */
  align-items: center;          /* Center content vertically */
}


.custom-navbar .doc-button:hover {
  background-color: #0056b3; /* Darker shade for hover */
  color: white;
}
