.mainDiv2{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 80%;
    background-color: rgb(238, 236, 236);
    height: 150px;
    margin-left: auto;
    margin-top: 5%;
    margin-right: auto;
    align-items: center;
    padding: 4%;
    border-radius: 40px;
}

.mainDiv2>div{
    width: 60%;
    align-items: center;
    margin-top: -3%;
    height: 80%;
}

.mainDiv2>div>h2{
    font-size: 30px;
    color: black;
}


.mainDiv2>div>p{
    font-size: 17px;
    color: rgb(62, 60, 60);
}

.mainDiv2>button{
    height: 45px;
    width: 150px;
    color: white;
    border-radius: 20px;
    background-color: black;
    border: 1px solid black;
}