.tool-card-grid {
    display: flex;
    gap: 20px;
    width: 50%; /* Updated width */
    margin: 20px auto; /* Updated margin */
    padding: 20px;
    margin-top: 15px;
    text-align: left;
  }
  
  .tool-card {
    margin-top: 7%;
    background-color: #fff;
    height: 320px;
    /* border: 1px  solid black; */
    width: 80%;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* padding: 20px; */
    text-align: left;
    /* width: 220px; */
    transition: transform 0.3s ease;
    display: flex;
    /* margin-top: 5%; */
    flex-direction: column;
    align-items: flex-start; /* Updated alignment */
  }
  
  .tool-card:hover {
    transform: translateY(-5px);
  }
  
  .tool-card-icon {
    margin-bottom: 16px;

    align-self: flex-start; /* Align icon to the left */
  }
  
  .tool-card-icon img {
    width: 40px;
    height: 40px;
  }
  
  .tool-card-title {
    
    font-size: 25px;
    /* margin: 0 0 8px; */
    font-weight: 650;
    margin-top: 5%;
  }
  
  .tool-card-description {
    font-size: 18px;
    color: #565454;
    margin: 0 0 16px;
  }
  
  .tool-card-link {
    color: #007bff;
    text-decoration: none;
    margin-top: 10%;
    font-weight: 600;
  }
  
  .tool-card-link:hover {
    text-decoration: underline;
  }
  
  .common-heading {
    margin-top: 6%;
    text-align: center; /* Center align the heading */
    margin-bottom: 20px; /* Add some space below the heading */
  }
  