/* src/components/Header.css */

.play-icon {
  display: inline-block;
  margin-right: 5px; 
  width: 16px;     
  height: 16px;      
}

.headers {
  margin-top: 5%;
  text-align: center;
  padding: 100px 20px;
}

.header h1 {
  font-size: 3.0rem;
  margin-bottom: 20px;
  font-weight: 620;
  color: #000000;
}

.header p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #6c757d;
}

.buttons {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center;     /* Center the buttons vertically */
  gap: 10px;               /* Add space between buttons */
}

.custom-btn-primary, .custom-btn-secondary {
  width: 150px;            /* Set the width of the buttons */
  height: 40px;            /* Set the height of the buttons */
  font-size: 14px;         /* Set the font size of the button text */
  display: flex;           /* Make the button a flex container */
  justify-content: center; /* Center text horizontally */
  align-items: center;     /* Center text vertically */
  border-radius: 6px;      /* Add border radius to the buttons */
  font-weight: normal;     /* Set font weight */
  margin: 5px;             /* Add margin between buttons */
}

.custom-btn-primary {
  background-color: #3b8fe9; /* Primary button color */
  border: none;             /* Remove border */
  color: white;
}

.custom-btn-primary:hover {
  background-color: #649fde; /* Darker shade for hover */
}

.custom-btn-secondary {
  background-color: #ffffff; /* Secondary button color */
  border: 1px solid  grey;             /* Remove border */
  color: rgb(72, 58, 58);
}

.custom-btn-secondary:hover {
  border: 1px solid grey;
  color: rgb(72, 58, 58);
  background-color: #f4f4f4; /* Darker shade for hover */
}
